body{
  font-family: 'Noto Sans KR', sans-serif;
}


.wrap{
   margin: 0 auto;
   width: 1200px;
  
}
h1{}
h2{
  font-weight: 700;
  font-size: 40px;
}
h3{}
h4{}
h5{}
h6{}

.block{
  display: block;
}

.hide{
  display: none;
}
