


@media screen and (max-width:768px){
    /* --> common   */
  .wrap{
    width: 100%;
  }
    .h2 {
        font-size: calc(42px * 0.7);
      }
      
    .padding-b60 {
      padding-bottom: calc(60px * 0.7);
    }
    .padding-t60 {
      padding-top: calc(60px * 0.7);
    }
     
    /* header */
    header ul.gnb{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 500px;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    top: -100%;
    width: 100%;
    display: block;
    right:0; 
  }
  header ul.gnb>li{
    width: 200px;
    line-height: 3;
    display: flex;
    justify-content: center;
  }
    
header ul.gnb li:nth-child(2){
 
  transform: translateX(0px);
}
header ul.gnb li:nth-child(3){

transform: translateX(0px);
}

header ul.gnb li:nth-child(4){
transform: translateX(0px);
}
 header .wrap a.allmenu{
  display: flex;
  left: auto;
  right: 40px;
  z-index: 10;
  top: 40px;
  }
header .wrap ul.gnb.moveShow{
  z-index: 1;
  right: 0;
  padding-left: calc(100% /2 - 100px);
  box-sizing: border-box;
  position: fixed;
  min-height: 650px;
  background-color:#cca2b5;
   top: 0px;
   text-align: center;
   width: 100%;
   opacity: 0.96;
   transition: all 0.3s;
}
  .show{
    display: block; 
  }


  #work .wrap{
  
    height: 100%;
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
   
    /*! overflow-x:scroll; */
    padding-top: 80px;
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #work .wrap h2{
    font-family: 'Amiri', serif;
    font-size: 31px;
    letter-spacing: 1px;
    line-height: 1;
    color: #ac5676;
    text-align: center;
    
    background-color: #fff1f1;
  } 
  #work .wrap strong{
    display: block;
    font-size: 40px;
    margin: 60px 0;
    text-transform: capitalize;
    font-weight: 500;
    color: transparent;
    white-space: nowrap;
    position: relative;
    width: 700px;
    left: 80px;
  } 
  #work .wrap strong::before {
    content: "다양한 영역의 작업물 포트폴리오";
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #e4c3cd;
    overflow: hidden;
    border-right: 4px solid #e4c3cd;
    animation: typing 5s steps(30) infinite;
  }
  
  @keyframes typing{
    0% {
      width: 0%;
    }
    60% {
      width: 100%; 
    }
    100% {
      width: 0%;
    }
  }
  
  #work  .wrap .p{
    text-align: center;
    font-weight: 300;
    padding-bottom: 50px;
    line-height: 1.7;
  }
  #work  .wrap ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    justify-content: center;
  }
  
  #work  .wrap ul li{
    width: calc(100% / 2 - 50px);
    margin: 30px 10px;
    border: 1px solid #eee;
    padding: 20px;
    height: 350px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(102, 102, 102, 0.9);
    z-index: 2;
  } 
   
  
  #work  .wrap ul li::before{
    content: "";
    display: block;
    width: 555px;
    height: 348px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    position:absolute;
    top: 0px;
    left: 0px;  
    z-index: -1;
  }
  #work  .wrap ul li:hover::before{
    opacity: 0.9;
    cursor: pointer;
  }
  #work  .wrap ul li:hover{
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  }
  #work  .wrap ul li{
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  
  #work  .wrap ul li::after{
    display: block;
    font-size: 130px;
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    top: 180px;
    left: 400px;
  }
  #work  .wrap ul li:hover::after{
    color:#333;
  }
  
  #work  .wrap ul li:nth-child(1)::before{
    background-image: url(../img/brand.jpg);
  }
  #work  .wrap ul li:nth-child(1)::after{
    content:"01";
  }
  
  #work  .wrap ul li:nth-child(2)::before{
    background-image: url(../img/design.jpg);
    background-size: 150%;
    background-position-x: -1px;
    background-position-y: -9px;
  }
  #work  .wrap ul li:nth-child(2)::after{
    content:"02";
  }
  
  #work  .wrap ul li:nth-child(3)::after{
    content:"03";
  }
  #work  .wrap ul li:nth-child(3)::before{
    background-image: url(../img/art.jpg);
  }
  
  #work  .wrap ul li:nth-child(4)::after{
    content:"04";
  }
  
  #work  .wrap ul li:nth-child(4)::before{
   background-image: url(../img/illust.jpg);
  }
  
  #work  .wrap ul li:nth-child(5)::after{
    content:"05";
  } 
  
  #work  .wrap ul li:nth-child(5)::before{
    background-image: url(../img/uiux.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #work  .wrap ul li:nth-child(6)::after{
    content:"06";
  }
  #work  .wrap ul li:nth-child(6)::before{
    background-image: url(../img/frontend.jpg);
    background-position: top;
    background-size: 160%;
  }
  
  #work  .wrap ul li h3{
    font-size: 30px;
    color: #fff;
  } 
  
  #work  .wrap ul li p{
    line-height: 2;
    color: #fff;
  }
  
  #work  .wrap ul li a{
    font-size: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #work  .wrap ul li:hover h3{
    color:#333;
    z-index: 3
  }
  #work  .wrap ul li:hover p{
    color:#000;
  }
  
  
  
 
  #work .wrap{
    height: 1500px;
  }
  #work .wrap ul{
    
  }
  #work .wrap ul li{
    
  width: calc(100%/ 2 - 20px);
  height: 350px;
  }
  
/* contact */
 #contact .wrap p{
    
  font-size: 35px;
  }
  
/*   footer */
  footer .wrap{
    
  padding: 100px 30px 0 30px;
  width: 100%;
  box-sizing: border-box;
  }
  
  footer .wrap .local{
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  footer .wrap .local li h2{
    
  margin-right: 0px;
  margin-left: 20px;
  }
  footer .wrap .sns{
    
  width: 100%;
  }
  footer .wrap .right ul.sns{
    
  float: none;
  justify-content: center;
  align-items: end;
  padding-top: 30px;
  }
  footer .wrap p{
    text-align: center;
  }
  footer .wrap .local li p{
    
  padding-top: 0;
  padding-left: 30px;
  }
}
 
/* 태블릿 */
@media (min-width:769px) and (max-width:1080px){
    /* --> common   */ 
  .wrap{
    width: 100%;
  }
    .h2 {
        font-size: calc(42px * 0.7);
      }

   /* header */
header ul.gnb li:nth-child(2){
 transform: translateX(-93px);
}
header ul.gnb li:nth-child(3){
transform: translateX(148px);
}
header ul.gnb li:nth-child(4){
transform: translateX(65px);
} 
  
  
#work .wrap{
  
  height: 100%;
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
 
  /*! overflow-x:scroll; */
  padding-top: 80px;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#work .wrap h2{
  font-family: 'Amiri', serif;
  font-size: 31px;
  letter-spacing: 1px;
  line-height: 1;
  color: #ac5676;
  text-align: center;
  
  background-color: #fff1f1;
} 
#work .wrap strong{
  display: block;
  font-size: 40px;
  margin: 60px 0;
  text-transform: capitalize;
  font-weight: 500;
  color: transparent;
  white-space: nowrap;
  position: relative;
  width: 700px;
  left: 80px;
} 
#work .wrap strong::before {
  content: "다양한 영역의 작업물 포트폴리오";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #e4c3cd;
  overflow: hidden;
  border-right: 4px solid #e4c3cd;
  animation: typing 5s steps(30) infinite;
}

@keyframes typing{
  0% {
    width: 0%;
  }
  60% {
    width: 100%; 
  }
  100% {
    width: 0%;
  }
}

#work  .wrap .p{
  text-align: center;
  font-weight: 300;
  padding-bottom: 50px;
  line-height: 1.7;
}
#work  .wrap ul{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}

#work  .wrap ul li{
  width: calc(100% / 2 - 50px);
  margin: 30px 10px;
  border: 1px solid #eee;
  padding: 20px;
  height: 350px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(102, 102, 102, 0.9);
  z-index: 2;
} 
 

#work  .wrap ul li::before{
  content: "";
  display: block;
  width: 555px;
  height: 348px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  position:absolute;
  top: 0px;
  left: 0px;  
  z-index: -1;
}
#work  .wrap ul li:hover::before{
  opacity: 0.9;
  cursor: pointer;
}
#work  .wrap ul li:hover{
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}
#work  .wrap ul li{
  position: relative;
  transition: all 0.5s ease-in-out;
}

#work  .wrap ul li::after{
  display: block;
  font-size: 130px;
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  top: 180px;
  left: 400px;
}
#work  .wrap ul li:hover::after{
  color:#333;
}

#work  .wrap ul li:nth-child(1)::before{
  background-image: url(../img/brand.jpg);
}
#work  .wrap ul li:nth-child(1)::after{
  content:"01";
}

#work  .wrap ul li:nth-child(2)::before{
  background-image: url(../img/design.jpg);
  background-size: 150%;
  background-position-x: -1px;
  background-position-y: -9px;
}
#work  .wrap ul li:nth-child(2)::after{
  content:"02";
}

#work  .wrap ul li:nth-child(3)::after{
  content:"03";
}
#work  .wrap ul li:nth-child(3)::before{
  background-image: url(../img/art.jpg);
}

#work  .wrap ul li:nth-child(4)::after{
  content:"04";
}

#work  .wrap ul li:nth-child(4)::before{
 background-image: url(../img/illust.jpg);
}

#work  .wrap ul li:nth-child(5)::after{
  content:"05";
} 

#work  .wrap ul li:nth-child(5)::before{
  background-image: url(../img/uiux.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#work  .wrap ul li:nth-child(6)::after{
  content:"06";
}
#work  .wrap ul li:nth-child(6)::before{
  background-image: url(../img/frontend.jpg);
  background-position: top;
  background-size: 160%;
}

#work  .wrap ul li h3{
  font-size: 30px;
  color: #fff;
} 

#work  .wrap ul li p{
  line-height: 2;
  color: #fff;
}

#work  .wrap ul li a{
  font-size: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#work  .wrap ul li:hover h3{
  color:#333;
  z-index: 3
}
#work  .wrap ul li:hover p{
  color:#000;
}


 
  
  
footer{
  width: 100%;
} 

footer .wrap{
  padding: 30px 30px;
  
  width: 100%;
}

footer .wrap .sns{
    
  width: 100%;
  }
footer .wrap .right ul.sns{
    
  float: none;
  justify-content: flex-end;
  align-items: end;
  padding-top: 30px;
  padding-right: 40px;
  box-sizing: border-box;
  }
  
}
